.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.title {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

.title em {
  font-style: normal;
  color: #aaa;
}

.logo {
  margin: 0 10px 0 0;
  position: relative;
  width: 35px;
  height: 35px;
}

.logo img {
  width: 100%;
  height: 100%;
}
