.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.paginationList {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

button.selected {
  background: #f2f2f2;
}
